/*******************************************************************************
 #my own custom variables
 ******************************************************************************/

.green-color-dark {
  color: $green-color-dark;
}

.orange-color {
  color: $orange-color;
}
.blue-color-dark {
  color: $blue-color-dark;
}